<!DOCTYPE html>
<html>
    {% load static %}
    <head>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/memes.css' %}">
        <title>
            Meme Page
        </title>
    </head>

    <body>
        <h1 style="font-weight: bold;display: flex; justify-content: center;">Meme Stream</h1>
        <div class="container">
            {% load crispy_forms_tags %}
            <form id="creation" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="save btn btn-default">Post</button>
            </form>
        </div>
        
        <h1>
            Meme List
        </h1>
    </body>
</html>